<%- include("../partials/admin/side-nav") %>
  <%- include("../partials/admin/header") %>



    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="../assets/img/avatarProfilePic.png" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-gray" style="font-size: 1rem;">
                  <%= name %>
                </h6>
                <h4 class="card-title">
                  <%= email %>
                </h4>
                <p class="card-description">
                  Bulk SMS App V 1.0.0
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>


    <%- include("../partials/admin/footer") %>